<div class="block">
    <span class="main-information">
        <img [src]="information()?.subscription_avatar_url" height="20">
        <h3 class="name">{{information()?.name}}</h3>
        @if (information()?.status) {
            <span class="paid-icon icon-block">
                <tui-icon class="icon" icon="@tui.check"></tui-icon>
            </span>
        } @else {
            <span class="unpaid-icon icon-block">
                <tui-icon class="icon" icon="@tui.x"></tui-icon>
            </span>
        }
    </span>
    <h3 class="price">{{information()?.cost | shortNumberPipe}}</h3>
</div>