@use '../../../assets/_variables.scss' as vars;

.block {
    // max-width: vars.$size-280;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: vars.$size-8;
    padding: vars.$size-4 vars.$size-12 vars.$size-4 vars.$size-8;
    border-radius: vars.$radius-full;
    @include vars.basicGradient;
    
    .main-information {
        display: flex;
        align-items: center;
        gap: vars.$size-8;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: vars.$radius-full;
        }

        .icon-block {
            justify-self: flex-end;
            max-height: vars.$size-28;
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: vars.$radius-full;
        }
        .paid-icon {
            background: vars.$color-green;
        }
        .unpaid-icon {
            background: vars.$color-red;
        }
    }

    h3 {
        color: black;
    }

    .price {
        justify-self: flex-end;
    }
}