@use '../../../assets/_variables.scss' as vars;

.block {
    max-width: vars.$size-280;
    // max-width: vars.$size-360;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: vars.$size-16;
    padding: vars.$size-4 vars.$size-12 vars.$size-4 vars.$size-8;
    border-radius: vars.$radius-full;
    @include vars.basicGradient;
    
    .main-information {
        display: flex;
        align-items: center;
        gap: vars.$size-8;
        
        .icon-block {
            border-radius: vars.$radius-full;
        }
        .paid-icon {
            background: vars.$color-green;
        }
        .unpaid-icon {
            background: vars.$color-red;
        }
    }

    h3 {
        color: black;
    }

    .price {
        justify-self: flex-end;
    }
}