@if (isRegistrated()) {
    <div class="email-added" animate.enter="enter">
        <div class="mark">
            <tui-icon class="icon" icon="@tui.check"></tui-icon>
        </div>
        <h3>Вы успешно подключили почту</h3>
    </div>
} @else {
    <form class="email-setup" [formGroup]="emailForm">
        <h2 class="title">Подключите обработку почты</h2>
                    <p>Пожалуйста, укажите пароль от привязанной почты. 
                        Это нужно для обработки сообщений.</p>
        <div class="inputs">
            <label>
                <p>Пароль:</p>
                <input formControlName="password" type="password">
            </label>
        </div>
        <button 
            (click)="addEmail($event)" 
            class="registrate"
            [disabled]="!emailForm.valid || isEmailLoading()"
            >
            @if (isEmailLoading()) {
                <tui-loader></tui-loader>
            } @else {
                Войти
            }
        </button>
    </form>
}