@use '../../../../../assets/_variables.scss' as vars;

.container {
    display: flex;
    justify-content: center;
    height: 100%;

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .back {
            display: flex;
            align-items: center;
            gap: vars.$size-4;
            user-select: none;
            cursor: pointer;
            padding: vars.$size-12;

            .arrow-left {
                color: vars.$color-white;
            }
        }

        .create {
            display: flex;
            flex-direction: column;
            gap: vars.$size-20;

            form {
                display: flex;
                flex-direction: column;
                gap: vars.$size-20;
                
                .image {
                    width: 40%;
                    position: relative;

                    .icon {
                        position: absolute;
                        bottom: vars.$size-8;
                        right: vars.$size-8;
                        color: vars.$color-white !important;
                    }
                }

                .inputs {
                    display: flex;
                    gap: vars.$size-20;
                    height: 16em;
                    
                    .other-inputs {
                        display: grid;
                        grid-template-columns: repeat(3, 300px);
                        grid-auto-flow: dense;
                        gap: vars.$size-20;
                        align-items: center;
                    }
                }

                button {
                    align-self: flex-start;
                    padding: vars.$size-12 vars.$size-24;
                    border: none;
                    border-radius: vars.$radius-sm;
                    background: vars.$color-yellow;
                    font-weight: 700;
                    font-size: vars.$font-md;
             
                    transition: background-color 0.3s, color 0.3s, font-size 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    font-size: vars.$font-md;
                    
                    &:disabled {
                        background: vars.$color-black;
                        color: vars.$color-gray;
                        font-weight: normal;
                        font-size: vars.$font-sm;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .container {
        width: 100%;

        .content {
            width: calc(100% - vars.$size-20);

            .create {                
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                    .inputs {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: vars.$size-20;
                        height: auto;
                        
                        .other-inputs {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: vars.$size-20;

                            text-input, date-input, number-input {
                                width: 100%;
                            }
                        }
                    }
                }

                button {
                    width: 100%;
                    align-self: center;
                    padding: vars.$size-12 vars.$size-24;
                    border: none;
                    border-radius: vars.$radius-sm;
                    background: vars.$color-yellow;
                    font-weight: 700;
                    font-size: vars.$font-md;
                }
            }
        }
    }
}

.enter {
    animation: show 0.3s;
}

.leave {
    animation: show 0.2s reverse;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}