<div class="subscribtion-block" ClickEffect effectColor="#fff">
    <div class="image-container">
        <span class="image">
            <img width="100" height="100" [src]="subscribtionData()?.subscription_avatar_url">
        </span>
    </div>
    <div class="information">
        <div class="main">
            <h3>{{subscribtionData()?.name}}</h3>
            <div class="paid-container">
                <is-paid-status [isPaid]="subscribtionData()?.status"></is-paid-status>
            </div>
        </div>
        <div class="price">
            <h3>{{subscribtionData()?.cost}}₽/мес.</h3>
        </div>
    </div>
</div>