@use '../../../assets/_variables.scss' as vars;

.subscribtion-block {
    min-height: vars.$size-100;

    display: flex;
    gap: vars.$size-20;
    background-color: vars.$color-surface;

    border-radius: vars.$radius-lg;
    padding: vars.$size-20;
    @include vars.shadow;

    .image-container {
        display: flex;

        .image {
            img {
                width: vars.$size-40;
                height: vars.$size-40;
            }
        }
    }

    .information {
        width: 100%;
        
        .main {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            
        }
        
        .price {
            align-self: flex-end;
            justify-self: flex-end;
        }
    }
}