@use '../../../../../assets/_variables.scss' as vars;

.subscribtion-block {
    width: 100%;
    min-height: vars.$size-100;

    display: flex;
    gap: vars.$size-20;
    background-color: vars.$color-surface;

    border-radius: vars.$radius-lg;
    padding: vars.$size-20;
    @include vars.shadow;

    .image-container {
        display: flex;

        .image {
            img {
                max-width: vars.$size-80;
                max-height: vars.$size-80;
                border-radius: vars.$radius-full;
                background: vars.$color-black;
            }
        }
    }

    .information {
        width: 100%;
        
        .main {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;
            
            .naming {
                display: flex;
                gap: vars.$size-8;

                .category {
                    border-radius: vars.$radius-lg;
                    @include vars.basicGradient;
                    padding: 0 vars.$size-20;
                    color: vars.$color-black !important;
                }
            }

            .paid-container {
                display: flex;
                align-items: center;
                gap: vars.$size-12;
                color: vars.$color-white;
            }
        }
        
        .price {
            display: flex;
            align-items: center;
            gap: vars.$size-12;
            align-self: flex-end;
            justify-self: flex-end;
            font-size: vars.$font-sm;
            
            .perYear {
                color: vars.$color-gray;
            }
        }
    }
}