@use '../../../../../assets/_variables.scss' as vars;
@use '../../../../../assets/skeleton.scss' as skeleton;

.container {
    display: flex;
    justify-content: center;
    @include skeleton.skeleton-wrapper;

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .back {
            display: flex;
            align-items: center;
            gap: vars.$size-4;
            user-select: none;
            cursor: pointer;
            padding: vars.$size-12;
            
            .arrow-left {
                color: vars.$color-white;
            }
        }

        .information {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            .main {
                width: 100%;
                height: vars.$size-160;

                display: flex;
                justify-content: space-between;
                
                padding: vars.$size-12;
                border-radius: vars.$radius-lg;
                @include vars.basicGradient;
                

                .left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .text {
                        min-width: vars.$size-100;
                        height: vars.$size-40;

                        display: flex;
                        align-items: center;
                        gap: vars.$size-20;

                        h1 {
                            color: vars.$color-black !important;
                        }
                    }

                    .image {
                        justify-self: flex-end;
                        width: vars.$size-60;
                        height: vars.$size-60;

                        img {
                            max-width: vars.$size-100;
                            max-height: vars.$size-100;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: vars.$radius-full;
                            background: vars.$color-black;
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    text-align: center;

                    background: vars.$color-background;
                    border-radius: vars.$radius-lg;
                    padding: 0 vars.$size-40;

                    .price-and-date {
                        height: 80%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                }
            }
        }

        .statuses {
            display: flex;
            gap: vars.$size-20
        }
        
        .actions-buttons {
            display: flex;
            gap: vars.$size-20;

            .action-button {
                background: vars.$color-yellow;
                font-weight: 700;
                padding: vars.$size-8 vars.$size-20;
                font-size: vars.$font-md;
                border: 2px solid rgba(0, 0, 0, 0);
                border-radius: vars.$radius-full;
                cursor: pointer;
            }
        }

        .edit {
            form {
                display: flex;
                flex-direction: column;
                gap: vars.$size-20;
                
                .inputs {
                    display: flex;
                    gap: vars.$size-20;
                    height: 16em;
                    
                    .other-inputs {
                        display: flex;
                        grid-auto-flow: dense;
                        gap: vars.$size-20;
                        align-items: center;
                        height: 100%;

                        .double {
                            width: vars.$size-280;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;

                            text-input, number-input, date-input {
                                max-height: vars.$size-64;
                            }
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;

                    button {
                        align-self: flex-start;
                        padding: vars.$size-12 vars.$size-24;
                        border: none;
                        border-radius: vars.$radius-sm;
                        background: vars.$color-yellow;
                        font-weight: 700;
                        font-size: vars.$font-md;
                    }

                    .delete-button {
                        padding: vars.$size-12 vars.$size-24;
                        border: none;
                        border-radius: vars.$radius-sm;
                        background: vars.$color-red;
                        font-weight: 600;
                        font-size: vars.$font-md;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-bottom: vars.$size-100;

    .content {
        width: calc(100% - vars.$size-20);

        .information {
            .main {
                height: auto;
                display: flex;
                flex-direction: column; 
                gap: vars.$size-40;

                .left {
                    display: flex;
                    flex-direction: row;
                    gap: vars.$size-12;
                    height: auto;

                    .image {
                        width: auto;
                        height: 100%;
                        aspect-ratio: 1/1;
                    }

                    .text {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: normal;
                        gap: 0;

                        .is-paid-container {
                            align-self: flex-start;
                        }
                    }
                }

                .right {
                    display: flex;

                    .price-and-date {
                        width: 100%;
                        justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                        font-size: vars.$font-sm;
                        padding: vars.$size-12;
                    }
                }
            }
        }

        .statuses {
            flex-direction: column;
        }

        .actions-buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: vars.$size-20;

            .action-button {
                background: vars.$color-yellow;
                font-weight: 700;
                padding: vars.$size-8 vars.$size-20;
                font-size: vars.$font-md;
                border: none;
                border-radius: vars.$radius-full;
                cursor: pointer;
            }
        }

        .edit {
            display: flex;
            flex-direction: column;
            gap: vars.$size-20;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .inputs {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: vars.$size-20;
                    height: auto;
                    
                    .other-inputs {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: vars.$size-20;

                        .double {
                            display: flex;
                            flex-direction: column;
                            gap: vars.$size-20;
                        }

                        text-input, date-input,  number-input {
                            width: 100%;
                        }
                    }
                }

                .buttons {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: vars.$size-12;

                    button {
                        width: 100%;
                        align-self: center;
                        padding: vars.$size-12 vars.$size-24;
                        border: none;
                        border-radius: vars.$radius-sm;
                        background: vars.$color-yellow;
                        font-weight: 700;
                        font-size: vars.$font-md;
                    }
                    
                    .delete-button {
                        align-self: center;
                        margin-bottom: vars.$size-20;
                        padding: vars.$size-12 vars.$size-24;
                        border: none;
                        border-radius: vars.$radius-sm;
                        background: vars.$color-red;
                        font-weight: 600;
                        font-size: vars.$font-md;
                    }
                }
            }
        }
    }
  }
}