@use '../../../../../assets/_variables.scss' as vars;

.container {
    display: flex;
    justify-content: center;
    height: 100%;

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .back {
            display: flex;
            align-items: center;
            gap: vars.$size-4;
            
            .arrow-left {
                color: vars.$color-white;
            }
        }

        .information {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            .main {
                width: 100%;
                height: vars.$size-160;

                display: flex;
                justify-content: space-between;
                
                padding: vars.$size-12;
                border-radius: vars.$radius-lg;
                @include vars.basicGradient;
                

                .left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .text {
                        height: vars.$size-40;

                        display: flex;
                        align-items: center;
                        gap: vars.$size-20;

                        h1 {
                            color: vars.$color-black;
                        }
                    }

                    .image {
                        justify-self: flex-end;
                        width: vars.$size-60;
                        height: vars.$size-60;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    text-align: center;

                    background: vars.$color-background;
                    border-radius: vars.$radius-lg;
                    padding: 0 vars.$size-40;

                    .price-and-date {
                        height: 80%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                }
            }
        }

        .statuses {
            display: flex;
            gap: vars.$size-20
        }
        
        .actions-buttons {
            display: flex;
            gap: vars.$size-20;

            .action-button {
                background: vars.$color-yellow;
                font-weight: 700;
                padding: vars.$size-8 vars.$size-20;
                font-size: vars.$font-md;
                border: none;
                border-radius: vars.$radius-full;
                cursor: pointer;
            }
        }

        .edit {
            form {
                display: flex;
                flex-direction: column;
                gap: vars.$size-20;
                
                .inputs {
                    display: flex;
                    gap: vars.$size-20;
                    height: 16em;
                    
                    .other-inputs {
                        display: grid;
                        grid-template-columns: repeat(3, 300px);
                        grid-auto-flow: dense;
                        gap: 0;
                        align-items: center;
                    }
                }

                button {
                    align-self: flex-start;
                    padding: vars.$size-12 vars.$size-24;
                    border: none;
                    border-radius: vars.$radius-sm;
                    background: vars.$color-yellow;
                    font-weight: 700;
                    font-size: vars.$font-md;
                }
            }
        }
    }
}