<div class="container">
    <div class="content">
        <span class="back">
            <tui-icon class="arrow-left" icon="@tui.arrow-left"></tui-icon>
            <h2 (click)="returnBack()">Назад</h2>
        </span>
        <div class="information">
            <div class="main">
                <div class="left">
                    <div class="text">
                        @if (subscriptionData()) {
                            <h1>{{subscriptionData().name}}</h1>
                            <div class="is-paid-container">
                                <is-paid-status [isPaid]="isPaidStatusBlock().isActive"></is-paid-status>
                            </div>
                        } @else {
                            <div class="skeleton-wrapper">
                                <div class="skeleton-text"></div>
                            </div>
                        }
                    </div>
                    <div class="image">
                        <img width="40" [src]="subscriptionData()?.subscription_avatar_url">
                    </div>
                </div>
                <div class="right">
                    <div class="price-and-date">
                        @if (subscriptionData()) {
                            <h3>{{subscriptionData()?.cost}}₽ в месяц</h3>
                        } @else {
                            <div class="skeleton-wrapper">
                                <div class="skeleton-text"></div>
                            </div>
                        }
                        <div class="bottom">
                            <h3>списание:</h3>
                            @if (subscriptionData()) {
                                <h3>{{dateConverter.parseDate(subscriptionData()?.next_billing) | date:'longDate'}}</h3>
                            } @else {
                                <div class="skeleton-wrapper">
                                    <div class="skeleton-text"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statuses">
            <status-block
                [blockData]="isPaidStatusBlock()"
                (statusChange)="changeStatus(isPaidStatusBlock)"
            ></status-block>
            <status-block
                [blockData]="usedStatusBlock()"
                (statusChange)="changeStatus(usedStatusBlock)"
            ></status-block>
        </div>
        <div class="actions-buttons">
            @for (item of actionButtons(); track item) {
                <button class="action-button" (click)="item.action()">
                    {{item.name}}
                </button>
            }
        </div>

        <div class="edit">
            <h2>Измененить информацию:</h2>
            <form>
                <div class="inputs">
                    <file-input 
                        class="image-input"
                        [control]="editForm.get('subscription_avatar_url')"
                    ></file-input>
                    <div class="other-inputs">
                        <text-input 
                            [control]="editForm.get('name')"
                            [placeholderText]="'Название сервиса'"
                            [isRequred]="true"
                        ></text-input>

                        <number-input 
                            [control]="editForm.get('cost')"
                            [placeholderText]="'Цена в месяц'"
                            [lastValue]="subscriptionData()?.cost"
                            [isRequred]="true"
                        ></number-input>

                        <date-input
                            [control]="editForm.get('next_billing')"
                            [placeholderText]="'Дата списания'"
                            [currentDate]="subscriptionData()?.next_billing"
                        ></date-input>

                        <text-input 
                            [control]="editForm.get('url_service')"
                            [placeholderText]="'Ссылка на сервис'"
                            [isRequred]="true"
                        ></text-input>
                        <text-input 
                            [control]="editForm.get('cancellation_link')"
                            [placeholderText]="'Ссылка на отмену'"
                            [isRequred]="true"
                        ></text-input>
                        <text-input 
                            [control]="editForm.get('category')"
                            [placeholderText]="'Категория'"
                            [isRequred]="true"
                        ></text-input>
                    </div>
                </div>

                <div class="buttons">
                    <button 
                        [disabled]="isDeleting() || isUpdating()"
                        (click)="saveChanges($event)"
                    >
                        @if (isUpdating()) {
                            <div class="loading">
                                <tui-loader />
                            </div>
                        } @else {
                            Подтвердить изменения
                        }   
                    </button>
                    <button 
                        class="delete-button" 
                        [disabled]="isDeleting() || isUpdating()"
                        (click)="deleteSubscription($event)"
                    >
                        @if (isDeleting()) {
                            <div class="loading">
                                <tui-loader />
                            </div>
                        } @else {
                            Удалить подписку
                        }   
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>