<div class="spending-block">
    <div class="information">
        @if (subscriptions().length > 0) {
            <div class="title">
                <h2>Оплата в феврале:</h2>
                <div class="buttons">
                    <button 
                        [ngClass]="{'active': activeButtonIndex() === 0}"
                        (click)="changeActiveButtonIndex(0)"
                        >Оплачено</button>
                    <button 
                        [ngClass]="{'active': activeButtonIndex() === 1}"
                        (click)="changeActiveButtonIndex(1)"
                        >Запланированные</button>
                </div>
            </div>
            <div class="subscribtions">
                @for (item of smalledCountOfSubscriptions(); track item) {
                    <app-mini-information-block
                        animate.enter="enter"
                        [information]="item"
                    ></app-mini-information-block>
                }
                @if (currentSmalledSubscribtions().length > maxSubscriptionsOnScreenCount()) {
                    <button 
                        routerLink="subscriptions"
                        class="more-button" size="m" tuiButton
                        >Ещё {{currentSmalledSubscribtions().length - smalledCountOfSubscriptions().length}}</button>
                }
            </div>
        } @else {
            @if (isLoading()) {
                <div class="loading">
                    <tui-loader />
                </div>
            } @else {
                <div class="no-subscriptions">
                    <p>У вас пока нет подписок.</p>
                    <a routerLink="add">Добавим новую?</a>
                </div>
            }
        }
    </div>
    <div class="ring">
        <tui-ring-chart
            [value]="prices()"
            [(activeItemIndex)]="index"
            size="xl"
        >
            <h2>{{ sum | tuiAmount: 'RUB' | async }}</h2>
            <h3>{{ label }}</h3>
        </tui-ring-chart>
    </div>
</div>