@use '../../../../assets/_variables.scss' as vars;

.spending-block {
    width: 100%;
    min-height: vars.$size-400;
    
    display: grid;
    grid-template-columns: 2fr 1fr;

    background: vars.$color-surface;
    border-radius: vars.$radius-lg;
    padding: vars.$size-12;
    @include vars.shadow;

    .information {
        display: flex;
        flex-direction: column;
        gap: vars.$size-20;

        .title {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;
            
            .buttons {
                display: flex;
                gap: vars.$size-8;

                button {
                    padding: vars.$size-8 vars.$size-20;
                    border: none;
                    border-radius: vars.$radius-md;
                    font-size: vars.$font-md;
                    background: none;
                    border: 4px solid vars.$color-gray;
                    color: vars.$color-white;
                    transition: border 0.4s;
                }

                .active {
                    border: 4px solid vars.$color-yellow;
                }
            }
        }

        .subscribtions {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
            gap: vars.$size-12;
        }
    }
    .ring {
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media (max-width: 768px) {
  .spending-block {
    display: flex;
    flex-direction: column;
    gap: vars.$size-40;

    .information {
        .title {           
            .buttons {
                button {
                    padding: vars.$size-4 vars.$size-12;
                    border: none;
                    border-radius: vars.$radius-md;
                    font-size: vars.$font-sm;
                    background: none;
                    border: 2px solid vars.$color-gray;
                    color: vars.$color-white;
                    transition: border 0.4s;
                }

                .active {
                    border: 2px solid vars.$color-yellow;
                }
            }
        }

        .subscribtions {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
            gap: vars.$size-12;
        }
    }

    .ring {
        padding-bottom: vars.$size-20;

        tui-ring-chart {
            --t-size: 12rem;
            --tui-font-text-m: vars.$font-sm;
        }
    }
  }
}