@if (isRequred()) {
    <tui-textfield 
        iconEnd="@tui.badge-alert" 
        class="textfield-container" 
        [attr.tuiTheme]="'dark'"
        [ngClass]="{'error': !control().valid && control().touched}"
    > 
        <label
            tuiLabel
        >{{placeholderText()}}</label>
        <input
            type="number"
            [min]="1"
            tuiInputNumber
            [formControl]="control()"
            />
        </tui-textfield>
    } @else {
        <tui-textfield 
        class="textfield-container" 
        [attr.tuiTheme]="'dark'"
        [ngClass]="{'error': !control().valid && control().touched}"
        >
        <label
        tuiLabel
        >{{placeholderText()}}</label>
        <input
            type="number"
            [min]="1"
            tuiInputNumber
            [formControl]="control()"
        />
    </tui-textfield>
} 
@if (!control().valid && control().touched) {
    @if (control().errors['min']) {
        <tui-error [error]="'Минимальное значение - 0'" />
    } @else {
        <tui-error [error]="'Обязательно'" />
    }
}