@use '../styles/input-styles.scss' as input-styles;
@use '../../../../../../assets/_variables.scss' as vars;

.date-container {
    @include input-styles.input;
    flex-direction: row;
    height: 100%;
    width: 100%;

    input {
        background: vars.$color-surface;
    }
}

.error {
   border: 3px dashed vars.$color-red;
}

.error-message {
    color: vars.$color-red;
}