@use '../../../../assets/_variables.scss' as vars;
@use '../../../../assets/skeleton.scss' as skeleton;

.container {
    display: flex;
    justify-content: center;
    justify-content: center;
    @include skeleton.skeleton-wrapper;

    .content {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .hello {
            width: 90%;
            line-break: normal;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 100%;
            gap: vars.$size-40;

            .subscribtions-container {
                display: flex;
                flex-direction: column;
                gap: vars.$size-20;

                .subscribtions {
                    display: flex;
                    flex-direction: column;
                    gap: vars.$size-20;

                    .more-button {
                        @include vars.basicGradient;
                    }

                    button {
                        border: none;
                        padding: vars.$size-20;
                        border-radius: vars.$radius-lg;
                        background: vars.$color-yellow;
                        font-size: vars.$font-md;

                        @include vars.textSettings;
                    }
                }
            }

            .controls {
                display: flex;
                flex-direction: column;
                gap: vars.$size-20;

                .buttons {
                    display: flex;
                    gap: vars.$size-20;
                }
            }
        }
    }
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-bottom: vars.$size-100;

    .content {
        width: calc(100% - vars.$size-20);

        .grid {
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
        }

        .controls {
            grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
            .buttons {
                width: 100%;
                display: flex;
                flex-direction: column;

                button-with-image {
                    width: 100%;
                }
            }
        }
    }
  }
}
