@use '../../../../assets/_variables.scss' as vars;

.container {
    display: flex;
    justify-content: center;
    height: 100%;

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .back {
            display: flex;
            align-items: center;
            gap: vars.$size-4;
            
            .arrow-left {
                color: vars.$color-white;
            }
        }

        .subscriptions {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            subscription-big {
                cursor: pointer;
            }
        }
    }
}

.appear {
    animation: show 0.3s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin-bottom: vars.$size-120;

        .content {
            width: calc(100% - vars.$size-20);
        }
    }
}