@use '../../../assets/_variables.scss' as vars;

.paid-container {
    display: flex;
    align-items: center;
    gap: vars.$size-8;
    background: vars.$color-background;
    padding: vars.$size-8 vars.$size-12;
    border-radius: vars.$radius-lg;

    .icon-block {
        width: vars.$size-20;
        height: vars.$size-20;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: vars.$radius-full;
        
        .icon {
            width: 80%;
            height: 80%;
        }
    }

    .paid-icon {
        background: vars.$color-green;
    }
    .unpaid-icon {
        background: vars.$color-red;
    }
}