<div class="container">
    <div class="content">
        <span class="back">
            <h2>Аналитика</h2>
        </span>
        <div class="spending-container">
            <div class="spending">
                <spending-block [isMobile]="isMobile()" [descriptionText]="'Текущие траты'" [subscriptions]="paidSubscriptions()"></spending-block>
                <spending-block [isMobile]="isMobile()" [descriptionText]="'Прогноз трат'" [subscriptions]="usingForAnalityics()"></spending-block>
                <spending-block [isMobile]="isMobile()" [monthsToCalc]="12" [descriptionText]="'Текущие траты на год'" [subscriptions]="paidSubscriptions()"></spending-block>
                <spending-block [isMobile]="isMobile()" [monthsToCalc]="12" [descriptionText]="'Прогноз трат на год'" [subscriptions]="usingForAnalityics()"></spending-block>
            </div>
        </div>
        <div class="subscriptions">
            @if (realSubscriptions().length !== 0) {
                <div class="filters">
                    <filters [isMultiple]="false" [filters]="types" (changedFilters)="changeFilter($event)"></filters>
                    <p>Использовать в прогнозе:</p>
                </div>
                @if (this.selectedGroup() === this.types[0]) {
                    <ng-container *ngTemplateOutlet="services"></ng-container>
                } @else if (this.selectedGroup() === this.types[1]) {
                    <ng-container *ngTemplateOutlet="categoryBlock"></ng-container>
                }
            } @else {
                @if (isLoading()) {
                    <div class="loading">
                        <tui-loader />
                    </div>
                } @else {
                    <div class="no-subscriptions">
                        <p>У вас пока нет подписок.</p>
                        <a routerLink="../add">Добавим новую?</a>
                    </div>
                }
            }
        </div>
    </div>
</div>


<ng-template #services>
    @for (item of realSubscriptions(); track item; let i = $index) {
        <div class="subscription-container">
            <subscription-big 
                [subscribtionData]="item"
                animate.enter="appear"
                [routerLink]="['../subscription', item.subscription_id]"
                class="block"
            ></subscription-big>
            <label 
                class="checkbox"
                animate.enter="appear"
            >
                <input
                    tuiCheckbox
                    type="checkbox"
                    [ngModel]="checkboxStates()[i]"
                    (ngModelChange)="onCheckboxChange($event, i)"
                />
            </label>
        </div>
    }
</ng-template>

<ng-template #categoryBlock>
    @for (item of categories(); track item; let i = $index) {
        <div class="categories-container">
            <subscription-category
                [category]="item"
                animate.enter="appear"
                class="block"
            >
            </subscription-category>
        </div>
    }
</ng-template>