@use '../../../../assets/_variables.scss' as vars;

.container {
    display: flex;
    justify-content: center;
    height: 100%;

    .content {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: vars.$size-40;
        gap: vars.$size-40;

        .back {
            display: flex;
            align-items: center;
            gap: vars.$size-4;
            
            .arrow-left {
                color: vars.$color-white;
            }
        }

        .spending-container {
            display: flex;
            justify-content: center;
            
            .spending {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: vars.$size-20
            }
        }

        .subscriptions {
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            .filters {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .subscription-container, .categories-container {
                width: 100%;
                display: flex;
                gap: vars.$size-20;

                .block {
                    display: flex;
                    width: 100%;
                }

                .checkbox {
                    width: 6%;
                    background: vars.$color-surface;
                    border-radius: vars.$radius-lg;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 40%;
                        height: auto;
                        aspect-ratio: 1/1;
                        cursor: pointer;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

.appear {
    animation: show 0.3s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        height: auto;
        width: 100%;
        
        .content {
            width: calc(100% - vars.$size-20);
            
            .spending-container {
                display: flex;
                flex-direction: column;

                .spending {
                    display: flex;
                    flex-direction: column;
                }
            }

            .subscriptions {
                .subscription-container {
                    position: relative;
                    
                    .checkbox {
                        position: absolute;
                        right: 0;
                        top: vars.$size-12;
                        width: vars.$size-100;
                        height: auto;
                        padding: 0;
                    }
                }
            }
        }
    }
}